#addOrganizationRequirementContentBody #contentBodyRightPane .rightPaneElement.withTitle select {
    margin: 10px 0px;
    width: 510px;
    height: 40px;
}

@media only screen and (max-width: 1550px) {
	#addOrganizationRequirementContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 21px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
	#addOrganizationRequirementContentBody #contentBodyRightPane #rightPaneContentHolder .rightPaneElement.withTitle #buttonHolder .button 
	{
    width: 200px;
	}
}
@media only screen and (max-width: 1110px) {
	#addOrganizationRequirementContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#addOrganizationRequirementContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}