@media only screen and (max-width: 1550px) {
<<<<<<< HEAD
	#scholarshipProgramContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
	
	#scholarshipProgramContentBody #contentBodyRightPane #rightPaneContentHolder .rightPaneElement.withTitle #buttonHolder .button 
	{
    width: 200px;
	}
}
@media only screen and (max-width: 1110px) {
	#scholarshipProgramContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#scholarshipProgramContentBody #contentBodyLeftPane #title {
=======
	#ScholarshipProgramContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1110px) {
	#ScholarshipProgramContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#ScholarshipProgramContentBody #contentBodyLeftPane #title {
>>>>>>> branch 'master' of https://github.com/johnrobertaquino/osas.git
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}