@charset "ISO-8859-1";
#agencyListContentBody #contentBodyRightPane {
	width: inherit;
}
#agencyListContentBody #searchAgencyButton {
		float: left;
}
#agencyListContentBody #addAgencyButton {
		float: right;
}

#agencyListContentBody #searchAgency {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#agencyListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#agencyListContentBody #searchAgencyButton {
	float: left;
}

#agencyListContentBody #contentBodyRightPane #tableHolder {
	padding-bottom: 50px;
}

@media only screen and (max-width: 1550px) {
  	#agencyListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#agencyListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#agencyListContentBody #searchAgency, #agencyListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 920px;
	}
	#agencyListContentBody #searchAgency img {
		height: 32px;
		float: left;
    	width: 32px;
	}
	#agencyListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#agencyListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#agencyListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#agencyListContentBody #searchAgency, #agencyListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 690px;
	}
	#agencyListContentBody #searchAgency img {
		height: 32px;
		float: left;
	    width: 32px;
	}
	#agencyListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#agencyListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#agencyListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#agencyListContentBody #searchAgency, #agencyListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 670px;
	}
	#agencyListContentBody #searchAgency img {
		height: 32px;
		float: left;
		width: 32px;
	}
	#agencyListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
	#agencyListContentBody #searchAgency img {
		height: 32px;
		float: left;
		margin-left: 20px;
	}
	#agencyListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}