@media only screen and (max-width: 1550px) {
	#editUserContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px 30px;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullName {
	width: 548px;
	}
	#editUserContentBody #fullName span {
		margin-right: 92px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput {
		width: 548px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput input {
		width: 156px;
		margin: 10px 0px;
	}
}
@media only screen and (max-width: 1110px) {
	#editUserContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
		#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullName {
	width: 548px;
	}
	#editUserContentBody #fullName span {
		margin-right: 111px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput {
		width: 548px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput input {
		width: 156px;
		margin: 10px 0px;
	}
}
@media only screen and (max-width: 1000px) {
	#editUserContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
		#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullName {
	width: 548px;
	}
	#editUserContentBody #fullName span {
		margin-right: 111px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput {
		width: 548px;
	}
	#editUserContentBody #rightPaneContentHolder .rightPaneElement #fullNameInput input {
		width: 156px;
		margin: 10px 0px;
	}
}