#editScholarshipQualificationContentBody #contentBodyRightPane .rightPaneElement.withTitle input[type=checkbox] {
	height: 20px;
	width: 20px;
}

@media only screen and (max-width: 1550px) {
	#editScholarshipQualificationContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1110px) {
	#editScholarshipQualificationContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#editScholarshipQualificationContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}