#editMemberContentBody #contentBodyRightPane #officerPhotoDisplay  {
	border: 1px solid;
	height: 100px;
	width: 100px;
	margin: 0px auto 0px auto;
}
#editMemberContentBody #contentBodyRightPane #officerPhotoDisplay img  {
	height: 100px;
	width: 100px;
}

#editMemberContentBody #contentBodyRightPane #officerInput  {
	border: none;
    margin-left: 151px;
    width: 180px;
}


#editMemberContentBody #contentBodyRightPane .rightPaneElement.withTitle select {
    margin: 10px 0px;
    width: 500px;
    height: 40px;
    border: 1px solid #420001;
    padding-right: 10px;
}

@media only screen and (max-width: 1550px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 23px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1110px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}