@media only screen and (max-width: 1550px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 23px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1110px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#editMemberContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}