#firstTimeLoginContentBody #contentBodyLeftPane, #firstTimeLoginContentBody #contentBodyRightPane {
	float: left;
}
#firstTimeLoginFormHolder {
	 margin: 100px 300px;
}

#firstTimeLoginFormHolder input {
	border: 1px solid #420001;
    width: 400px;
    padding: 10px 0px 10px 10px;
}
#firstTimeLoginFormHolder .passwordElement {
	margin-top: 30px;
}
#firstTimeLoginFormHolder .passwordElement .button {
	margin-left: 35px; 
	width: 315px;
}


/* @media only screen and (max-width: 1550px) { */ 
	#firstTimeLoginContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
/* }
@media only screen and (max-width: 1110px) {
	#firstTimeLoginContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#firstTimeLoginContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}
*/ 