@charset "ISO-8859-1";
body {
	margin: 0px;
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	font-size: initial;
	line-height: normal;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input {
 	outline:none;
}

img {
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: initial;
}

.w3-bar-block .w3-bar-item {
	width: inherit;
}
.w3-dropdown-click:hover {
	background: none;
}

#header {
	position: relative;
}

#headerHomeDiv{
	background-color: #420001;
}

#bannerDiv {
	background-image: url("../images/pup_banner.jpg");
	height: 68px;
}

#logoDiv {
	float: left;
    margin: 5px 5px 5px 25px;
}

#logoDiv img {
	height: 70px;
	width: 70px;
}

#headerSeparatorDiv {
	height: 10px;
	background-color: #ffbc01;
	/*background-image: url("../images/bg02.jpg");*/
}

#headerMiddleSeparatorDiv {
	height: 8px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#bannerTitleDiv {
	float: left;
	position: relative;
	height: 70px;
}

#bannerDateDiv{
	float: right;
    margin-top: 33px;
    margin-right: 25px;
    color: white;
    font-size: 15px;
}

#bannerTitleDiv #bannerTitleSubDiv {
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 700px;
	margin-left: 25px;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain {
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain span {
	font-size: 40px;
	color: #ffbc01;
}
#pageName {
	float: left;
    margin: 13px 0px 0 10px;
    color: #FFFFFF;
    font-weight: bold;
}

#navBar {
	height: 45px;
	background-color: #afabaa;
	/*background-image: url("../images/bg02.jpg");*/
}

#navBar img {
	height: 25px;
    float: left;
    margin: 10px 0px 0 25px;
}

#accountSettings {
	float: right;
	margin: 15px 25px 2px 0px;
}

#accountSettings span{
	padding: 0px 3px;
	color: 	#FFFFFF;
}
#userAccount {
	float: right;
	margin-top: -6px;
	text-align: center;
}

#userAccount div {
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

#userTypeDiv {
    margin-top: -5px;
    float: left;
} 

#accountSettings #firstname {
	font-weight: bold;
	color: #ffed00;
}
#accountSettings #userType {
	font-size: 8px;
	color: #ffed00;
}

#headerLinkDiv {
	margin-left: 25px;
	vertical-align: middle;
	height: inherit;
}

#headerLinkDiv a {
	margin: 0px 5px;
	color: white;
	text-decoration: none;
	font-size: 11px;
}

#headerLinkDiv a:hover {
	background-color: firebrick;
}

.dropdownMenu {
	position: absolute;
    width: 160px;
    right: 0px;
    margin-top: 12px;
    background-color: #f2f2f2;
    color: #840b0da6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

#userAccount:hover > .dropdownMenu {
	display: block;
}

.dropdownMenu div {
	padding: 10px;
	display: block;
}
.dropdownicon {
	width: 20px;
	margin-bottom: -5px;
}

.dropdownMenu div:hover {
	background-color: #ffbc01;
	color: #FFFFFF;
}
#logout {
	float: right;
}

.contentForm input[type='text'], .contentForm input[type='password'] {
	color: #555;
	border: 0px;
	border-bottom: 1px solid #577196;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	padding-left: 6px;
}

.button {
	background-color: firebrick;
    padding: 5px 8px;
    text-align: center;
    color: white;
    line-height: 150%;
    border-radius: 8px;
}

.button:hover {
	background-color: #800;
	cursor: pointer;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#officeDiv {
	margin: 2px 0px 2px 2px;
	float: left;
	color: #ffbc01;
}

#copyrightDiv {
	margin: 2px 2px 2px 0px;
	float: right;
	color: #ffbc01;
}

#footerSeparatorDiv {
	height: 15px;
	font-size: 10px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

#overlay #popup {
    position: relative;
    min-height: 174px;
    width: 400px;
    top: 25%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #000000;
}

#overlay #popup #errorMessageDiv {
    float: left;
    margin: 30px 20px;
    min-height: 70px;
}

#overlay #popup #errorMessageDiv #errorMessage {
    color: #555;
}

#overlay #popup #xButton {
    float: right;
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #000000;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px #000000;
}

#overlay #popup #xButton span {
    position: relative;
    top: -1px;
    color: #FFFFFF;
    font-size: 25px;
    left: 1px;
    font-weight: bold;
}

#overlay #popup #popupOk {
	width: 50px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#overlay #popup #popupCancel {
	width: 78px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#homeContentBody {
	margin-top: 40px;
}
#contentBody {
	height: 100vh;
}

#contentBodyLeftPane {
	float: left;
	width: 50%;
}

#contentBodyRightPane {
	float: right;
	width: 50%;
}

#contentBodyLeftPane .linkHolder, #contentBodyRightPane .linkHolder {
	width: 500px;
}

#contentBodyLeftPane .linkHolder {
	float: right;
}

#contentBodyRightPane .linkHolder {
	float: left;
}

.linkHolder::after {
	content: "";
	clear: both;
}

.linkHolder .linkHeader {
	font-weight: bold;
	color: #420001;
	font-size: 25px;
	margin-bottom: 20px;
}

.linkHolder .linkHeader img {
	position: relative;
	top: 8px;
	margin-left: 5px;
	height: 40px;
}

.linkHolder .linkHeader span {
	border-bottom: 1px solid #ff00006e;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.linkHolder .menuLinks {
	margin: 10px 0px;	
}


.linkHolder .menuLinks .linkItemHolder {
	width: 450px;
	margin-left: 20px;
}

.linkHolder .menuLinks .linkItemHolder div {
	float: left;
	padding: 10px 0px;
	margin: 10px 0px;
}

.linkHolder .menuLinks .linkItemHolder .linkIcon {
	margin-right: 10px;
	font-weight: bold;
	color: #420001;
	font-size: 24px;
	font-family: Arial;
	line-height: 18px;
	padding: 0px;
	margin: 5px 10px 0px 0px;
}

.linkHolder .menuLinks .linkItemHolder .linkIcon img {
	height: 20px;
	position: relative;
    top: 13px;
}

.linkHolder .menuLinks .linkItemHolder .link {
	background-color: #F2F2F2;
	width: 360px;
	padding-left: 10px;
	color: #840b0da6;
	font-weight: bold;
	cursor: pointer;
}

.linkHolder .menuLinks .linkItemHolder .link:hover {
	background-color: #ffbc01;
	color: #FFFFFF;
}

/** FeatureContent Common **/
.ui-datepicker {
	font-size: 14px;
}

.featureContent {
   background-color: #a7a7a71c;
   height: 100%;
}

.featureContent .tdAction {
	width: 44px;
}

.featureContent #contentBodyHolder {
    height: 100%;
}

.featureContent #contentBodyLeftPane, .featureContent #contentBodyRightPane {
	float: left;
	height: 100%;
}

.featureContent #contentBodyLeftPane {
	background-color: #ffffff;
	width: 200px;
	min-height: 600px;
}

.featureContent #contentBodyLeftPane #icon {
	width: 150px; 
	margin: 150px auto 0px auto;
}

.featureContent #contentBodyLeftPane #icon img {
	height: 150px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder {
	margin: 80px 0px 0px 380px;
	width: 512px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement {
	font-size: 16px;
	width: 500px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement input {
	border: 1px solid #420001;
    padding: 10px 0px 10px 10px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement.withTitle input {
    margin: 10px 0px;
    width: 500px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #buttonHolder {
	margin-top: 20px;
	margin-bottom: 30px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #buttonHolder .button {
	 background-color: firebrick;
	float: right;
	margin: 0px;
}
.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #buttonHolder .button.left {
	margin-right: 23px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement.withTitle #buttonHolder .button {
    width: 160px;
}

.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #roleDiv {
	padding-top: 10px;
}
.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #roleDiv input {
	height: 20px;
	width: 20px;
	margin: 0px;
}
.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement #roleDiv span {
	margin: 0px 25px;
    top: -3px;
    position: relative;
}

@media only screen and (max-width: 1550px) {
	.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement {
		font-size: 16px;
	}
  	.featureContent #contentBodyRightPane #rightPaneContentHolder {
  		width: inherit;
  		margin-left: 250px;
  	}
  	
  	.featureContent #contentBodyLeftPane {
		width: 200px;
	}
	.featureContent #contentBodyRightPane {
		 margin-left: 20px;
	}

	.featureContent #contentBodyLeftPane #icon img {
		height: 150px;
	}
	
	.featureContent #contentBodyLeftPane #icon {
		width: 140px;
	}
	
	.featureContent #contentBodyRightPane table {
		color: #444444;
		border-collapse: collapse;
		margin-left: 100px;
	}
	
	.featureContent #contentBodyRightPane table tr {
		height: 50px;
	}
	
	.featureContent #contentBodyRightPane table td, .featureContent #contentBodyRightPane table th {
		padding: 0px 10px;
	}
	
	.featureContent #contentBodyRightPane table .odd {
		background-color: #dae3f3;
	}
	
	.featureContent .tableMenu img {
		height: 20px;
	}
	
	.featureContent #searchUser {
		margin-left: 100px;
		margin-bottom: 35px;
		margin-top: 50px;
	}
	
	.featureContent #searchUser img {
		height: 32px;
		float: left;
	}
	
	#userListContentBody input {
		border: 1px solid #420001;
		border-radius: 20px;
		width: 300px;
		padding-left: 10px;
		float: left;
		height: 32px;
		margin-right: 20px;
	}
	
	.featureContent .button {
		background-color: firebrick;
	}
	.featureContent .tableMenuDropdown {
		top: 25px;
	}
}
@media only screen and (max-width: 1100px) {
	.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement {
		font-size: 12px;
	}
  	.featureContent #contentBodyRightPane #rightPaneContentHolder {
  		width: inherit;
  		margin-left: 250px;
  	}
  	
  	.featureContent #contentBodyLeftPane {
		width: 200px;
	}

	.featureContent #contentBodyLeftPane #icon img {
		height: 150px;
	}
	
	.featureContent #contentBodyLeftPane #icon {
		width: 140px;
	}
		.featureContent #contentBodyRightPane table {
		color: #444444;
		border-collapse: collapse;
		margin-left: 100px;
	}
	
	.featureContent #contentBodyRightPane table tr {
		height: 50px;
	}
	
	.featureContent #contentBodyRightPane table td, .featureContent #contentBodyRightPane table th {
		padding: 0px 10px;
	}
	
	.featureContent #contentBodyRightPane table .odd {
		background-color: #dae3f3;
	}
	
	.featureContent .tableMenu img {
		height: 20px;
	}
	
	.featureContent #searchUser {
		margin-left: 100px;
		margin-bottom: 35px;
		margin-top: 50px;
	}
	
	.featureContent #searchUser img {
		height: 32px;
		float: left;
	}
	
	#userListContentBody input {
		border: 1px solid #420001;
		border-radius: 20px;
		width: 300px;
		padding-left: 10px;
		float: left;
		height: 32px;
		margin-right: 20px;
	}
	
	.featureContent .button {
		background-color: firebrick;
	}
	.featureContent .tableMenuDropdown {
		top: 25px;
	}
}
@media only screen and (max-width: 1000px) {
	.featureContent #contentBodyRightPane #rightPaneContentHolder .rightPaneElement {
		font-size: 12px;
	}
  	.featureContent #contentBodyRightPane #rightPaneContentHolder {
  		width: inherit;
  		margin-left: 250px;
  	}
  	
  	.featureContent #contentBodyLeftPane {
		width: 160px;
	}
	
	.featureContent #contentBodyRightPane {
		margin-left: -84px;
	}

	.featureContent #contentBodyLeftPane #icon img {
		height: 120px;
	}
	
	.featureContent #contentBodyLeftPane #icon {
		width: 125px;
	}
		.featureContent #contentBodyRightPane table {
		color: #444444;
		border-collapse: collapse;
		margin-left: 150px;
	}
	
	.featureContent #contentBodyRightPane table tr {
		height: 50px;
	}
	.featureContent #searchUser, .featureContent #contentBodyRightPane table {
		margin-left: 120px;
	}
	
	.featureContent #contentBodyRightPane table td, .featureContent #contentBodyRightPane table th {
		padding: 0px 10px;
	}
	
	.featureContent #contentBodyRightPane table .odd {
		background-color: #dae3f3;
	}
	
	.featureContent .tableMenu img {
		height: 20px;
	}
	
	.featureContent #searchUser {
		margin-left: 100px;
		margin-bottom: 35px;
		margin-top: 50px;
	}
	
	.featureContent #searchUser img {
		height: 32px;
		float: left;
	}
	
	#userListContentBody input {
		border: 1px solid #420001;
		border-radius: 20px;
		width: 300px;
		padding-left: 10px;
		float: left;
		height: 32px;
		margin-right: 20px;
	}
	
	.featureContent .button {
		background-color: firebrick;
	}
	.featureContent .tableMenuDropdown {
		top: 25px;
	}
}