@charset "ISO-8859-1";
body {
	margin: 0px;
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}

#header {
	position: relative;
}

#headerHomeDiv{
	background-color: #420001;
}

#bannerDiv {
	background-image: url("../images/pup_banner.jpg");
	height: 68px;
}

#logoDiv {
	float: left;
    margin: 5px 5px 5px 25px;
}

#logoDiv img {
	height: 70px;
	width: 70px;
}

#headerSeparatorDiv {
	height: 10px;
	background-color: #ffbc01;
	/*background-image: url("../images/bg02.jpg");*/
}

#headerMiddleSeparatorDiv {
	height: 8px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#bannerTitleDiv {
	float: left;
	position: relative;
	height: 70px;
}

#bannerDateDiv{
	float: right;
    margin-top: 33px;
    margin-right: 25px;
    color: white;
    font-size: 15px;
}

#bannerTitleDiv #bannerTitleSubDiv {
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 700px;
	margin-left: 25px;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain {
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain span {
	font-size: 40px;
	color: #ffbc01;
}

#navBar {
	height: 45px;
	background-color: #afabaa;
	/*background-image: url("../images/bg02.jpg");*/
}

#accountSettings{
	float: right;
	margin: 15px 5px 2px 0px;
}

#accountSettings span{
	padding: 0px 3px;
	color: 	#FFFFFF;
}
#userAccount{
	float: right;
	margin-top: -6px;
	text-align: center;
}

#userTypeDiv {
    margin-top: -5px;
    float: left;
} 

#accountSettings #firstname {
	font-weight: bold;
	color: black;
}
#accountSettings #userType {
	font-size: 8px;
	color: black;
}

#headerLinkDiv {
	margin-left: 25px;
	vertical-align: middle;
	height: inherit;
}

#headerLinkDiv a {
	margin: 0px 5px;
	color: white;
	text-decoration: none;
	font-size: 11px;
}

#headerLinkDiv a:hover {
	background-color: firebrick;
}

#loginDiv {
	padding: 0px;
	margin: 40px auto 0px;
  	width: 316px;
}

.loginElement {
	margin: 20px 0px;
	width: 316px;
}

.loginElement span {
	font-weight: 700;
	color: #555;
	margin-right: 5px;
}

.loginElement input[type='text'], .loginElement input[type='password'] {
	width: 310px;
}

#welcomeText{
	text-align: center;
	margin-bottom: 15px;
}
#welcomeText span {
    font-size: 30px;
    font-weight: bold;
    color: #9a9c99
}
#loginAvatar{
	text-align: center;
}

#loginAvatar img {
	height: 150px;
}

.contentForm input[type='text'], .contentForm input[type='password'] {
	color: #555;
	border: 0px;
	border-bottom: 1px solid #577196;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	padding-left: 6px;
}

.button {
	background-color: firebrick;
    padding: 5px 8px;
    text-align: center;
    color: white;
    line-height: 150%;
    border-radius: 8px;
}

.button:hover {
	background-color: #800;
	cursor: pointer;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#officeDiv {
	margin: 2px 0px 2px 2px;
	float: left;
	color: #ffbc01;
}

#copyrightDiv {
	margin: 2px 2px 2px 0px;
	float: right;
	color: #ffbc01;
}

#footerSeparatorDiv {
	height: 15px;
	font-size: 10px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

#overlay #popup {
    position: relative;
    min-height: 174px;
    width: 400px;
    top: 25%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #000000;
}

#overlay #popup #errorMessageDiv {
    float: left;
    margin: 30px 20px;
    min-height: 70px;
}

#overlay #popup #errorMessageDiv #errorMessage {
    color: #555;
}

#overlay #popup #xButton {
    float: right;
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #000000;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px #000000;
}

#overlay #popup #xButton span {
    position: relative;
    top: -1px;
    color: #FFFFFF;
    font-size: 25px;
    left: 1px;
    font-weight: bold;
}

#overlay #popup #popupOk {
	width: 50px;
	float: right;
	margin-right: 10px;
}
#Studentscholarship{
	margin-left: 320px;
    margin-top: 40px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: 34px;
    color: #420001;
    font-weight: bold;
}
#Studentscholarshipicon img{
	height: 40px;
}

.Scholarshiplinks{
	height: 25px;
    background-color: #e6dedc;
	/*background-image: url("../images/bg02.jpg");*/	
	margin-left: 400px;
    margin-right: 1000px;
    margin-top: 20px;
}