@charset "ISO-8859-1";
body {
	margin: 0px;
	font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	font-size: initial;
	line-height: normal;
}

input {
 	outline:none;
}

img {
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: initial;
}

#header {
	position: relative;
}

#headerHomeDiv{
	background-color: #420001;
}

#bannerDiv {
	background-image: url("../images/pup_banner.jpg");
	height: 68px;
}

#logoDiv {
	float: left;
    margin: 5px 5px 5px 25px;
}

#logoDiv img {
	height: 70px;
	width: 70px;
}

#headerSeparatorDiv {
	height: 10px;
	background-color: #ffbc01;
	/*background-image: url("../images/bg02.jpg");*/
}

#headerMiddleSeparatorDiv {
	height: 8px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#bannerTitleDiv {
	float: left;
	position: relative;
	height: 70px;
}

#bannerDateDiv{
	float: right;
    margin-top: 33px;
    margin-right: 25px;
    color: white;
    font-size: 15px;
}

#bannerTitleDiv #bannerTitleSubDiv {
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 700px;
	margin-left: 25px;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain {
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
}

#bannerTitleDiv #bannerTitleSubDiv #bannerTitleMain span {
	font-size: 40px;
	color: #ffbc01;
}

#pageName {
	float: left;
    margin: 13px 0px 0 25px;
    color: #FFFFFF;
    font-weight: bold;
}

#navBar {
	height: 45px;
	background-color: #afabaa;
	/*background-image: url("../images/bg02.jpg");*/
}

#accountSettings {
	float: right;
	margin: 15px 25px 2px 0px;
}

#accountSettings span{
	padding: 0px 3px;
	color: 	#FFFFFF;
}
#userAccount {
	float: right;
	margin-top: -6px;
	text-align: center;
}

#userAccount div {
	cursor: pointer;
}

.clickable {
	cursor: pointer;
}

#userTypeDiv {
    margin-top: -5px;
    float: left;
} 

#accountSettings #firstname {
	font-weight: bold;
	color: #ffed00;
}
#accountSettings #userType {
	font-size: 8px;
	color: #ffed00;
}

#headerLinkDiv {
	margin-left: 25px;
	vertical-align: middle;
	height: inherit;
}

#headerLinkDiv a {
	margin: 0px 5px;
	color: white;
	text-decoration: none;
	font-size: 11px;
}

#headerLinkDiv a:hover {
	background-color: firebrick;
}

.dropdownMenu {
	position: absolute;
    margin-left: -100px;
    margin-top: 12px;
    background-color: #f2f2f2;
    color: #840b0da6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

#userAccount:hover > .dropdownMenu {
	display: block;
}

.dropdownMenu div {
	padding: 10px;
	display: block;
}

.dropdownMenu div:hover {
	background-color: #ffbc01;
	color: #FFFFFF;
}

#logout {
	float: right;
}

#loginDiv {
	padding: 0px;
	margin: 40px auto 0px;
  	width: 316px;
}

.loginElement {
	margin: 20px 0px;
	width: 316px;
}

.loginElement span {
	font-weight: 700;
	color: #555;
	margin-right: 5px;
}

.loginElement input[type='text'], .loginElement input[type='password'] {
	width: 310px;
}

#welcomeText{
	text-align: center;
	margin-bottom: 15px;
}
#welcomeText span {
    font-size: 30px;
    font-weight: bold;
    color: #9a9c99
}
#loginAvatar{
	text-align: center;
}

#loginAvatar img {
	height: 150px;
}

.contentForm input[type='text'], .contentForm input[type='password'] {
	color: #555;
	border: 0px;
	border-bottom: 1px solid #577196;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	font-weight: 700;
	padding-left: 6px;
}

.button {
	background-color: firebrick;
    padding: 5px 8px;
    text-align: center;
    color: white;
    line-height: 150%;
    border-radius: 8px;
}

.button:hover {
	background-color: #800;
	cursor: pointer;
}

#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#officeDiv {
	margin: 2px 0px 2px 2px;
	float: left;
	color: #ffbc01;
}

#copyrightDiv {
	margin: 2px 2px 2px 0px;
	float: right;
	color: #ffbc01;
}

#footerSeparatorDiv {
	height: 15px;
	font-size: 10px;
	background-color: #420001;
	/*background-image: url("../images/bg02.jpg");*/
}

#overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	background: rgba(0, 0, 0, 0.75);
	display: none;
}

#overlay #popup {
    position: relative;
    min-height: 174px;
    width: 400px;
    top: 25%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #000000;
}

#overlay #popup #errorMessageDiv {
    float: left;
    margin: 30px 20px;
    min-height: 70px;
}

#overlay #popup #errorMessageDiv #errorMessage {
    color: #555;
}

#overlay #popup #xButton {
    float: right;
    margin-top: -15px;
    margin-right: -15px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #000000;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 0 5px 0px #000000;
}

#overlay #popup #xButton span {
    position: relative;
    top: -1px;
    color: #FFFFFF;
    font-size: 25px;
    left: 1px;
    font-weight: bold;
}

#overlay #popup #popupOk {
	width: 50px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#overlay #popup #popupCancel {
	width: 78px;
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}

#homeContentBody {
	margin-top: 40px;
}

#contentBodyLeftPane {
	float: left;
	width: 50%;
}

#contentBodyRightPane {
	float: right;
	width: 50%;
}

#contentBodyLeftPane .linkHolder, #contentBodyRightPane .linkHolder {
	width: 500px;
}

#contentBodyLeftPane .linkHolder {
	float: right;
}

#contentBodyRightPane .linkHolder {
	float: left;
}

.linkHolder::after {
	content: "";
	clear: both;
}

.linkHolder .linkHeader {
	font-weight: bold;
	color: #420001;
	font-size: 25px;
	margin-bottom: 20px;
}

.linkHolder .linkHeader img {
	position: relative;
	top: 8px;
	margin-left: 5px;
	height: 40px;
}

.linkHolder .linkHeader span {
	border-bottom: 1px solid #ff00006e;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.linkHolder .menuLinks {
	margin: 10px 0px;	
}


.linkHolder .menuLinks .linkItemHolder {
	width: 450px;
	margin-left: 20px;
}

.linkHolder .menuLinks .linkItemHolder div {
	float: left;
	padding: 10px 0px;
	margin: 10px 0px;
}

.linkHolder .menuLinks .linkItemHolder .linkIcon {
	margin-right: 10px;
	font-weight: bold;
	color: #420001;
	font-size: 24px;
	font-family: Arial;
	line-height: 18px;
	padding: 0px;
	margin: 5px 10px 0px 0px;
}

.linkHolder .menuLinks .linkItemHolder .linkIcon img {
	height: 20px;
	position: relative;
    top: 13px;
}

.linkHolder .menuLinks .linkItemHolder .link {
	background-color: #F2F2F2;
	width: 360px;
	padding-left: 10px;
	color: #840b0da6;
	font-weight: bold;
	cursor: pointer;
}

.linkHolder .menuLinks .linkItemHolder .link:hover {
	background-color: #ffbc01;
	color: #FFFFFF;
}

/**user list page**/
#userListContentBody {
	margin-top: 50px;
}

#userListContentBody #contentBodyLeftPane, #userListContentBody #contentBodyRightPane {
	float: left;
}

#userListContentBody #contentBodyLeftPane {
	width: 300px;

	border-right: 3px solid #420001;
	min-height: 600px;
}

#userListContentBody #contentBodyLeftPane #icon {
	width: 150px; 
	margin: 50px auto 0px auto;
}

#userListContentBody #contentBodyLeftPane #icon img {
	height: 150px;
}

#userListContentBody #contentBodyLeftPane #title {
	margin: 25px auto 0px auto;
	width: 182px;
	font-weight: bold;
	font-size: 30px;
	color: #444444;
}

#userListContentBody #contentBodyRightPane {
	width: inherit;
}

#userListContentBody #contentBodyRightPane table {
	color: #444444;
	border-collapse: collapse;
	margin-left: 100px;
}

#userListContentBody #contentBodyRightPane table tr {
	height: 50px;
}

#userListContentBody #contentBodyRightPane table td, #userListContentBody #contentBodyRightPane table th {
	padding: 0px 10px;
}

#userListContentBody #contentBodyRightPane table .odd {
	background-color: #dae3f3;
}

#userListContentBody .tableMenu img {
	height: 20px;
}

#userListContentBody #searchUser {
	margin-left: 100px;
	margin-bottom: 35px;
}

#userListContentBody #searchUser img {
	height: 32px;
	float: left;
}

#userListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#userListContentBody #searchUserButton {
	float: left;
}

#userListContentBody #addUserButton {
	float: right;
}

#userListContentBody .tableMenuDropdown {
	top: 25px;
}

<<<<<<< HEAD
/** change password page **/
#changePasswordContentBody {
	margin-top: 50px;
	font-size: 16px;
=======
/**Change Password **/
#changePasswordContentBody #contentBodyLeftPane, #changePasswordContentBody #contentBodyRightPane {
	float: left;
}

#changePasswordContentBody #contentBodyLeftPane {
	width: 300px;

	border-right: 3px solid #420001;
	min-height: 600px;
}

#changePasswordContentBody #contentBodyLeftPane #icon {
	width: 150px; 
	margin: 50px auto 0px auto;
}

#changePasswordContentBody #contentBodyLeftPane #icon img {
	height: 150px;
}

#changePasswordContentBody #contentBodyLeftPane #title {
	margin: 25px auto 0px auto;
	width: 134px;
	font-weight: bold;
	font-size: 30px;
	color: #444444;
}

#changePasswordContentBody #contentBodyRightPane {
	width: inherit;
}

#titlePassword {
	margin: 25px auto 0px auto;
    width: 267px;
    font-weight: bold;
    font-size: 30px;
    color: #444444;
>>>>>>> branch 'master' of https://github.com/johnrobertaquino/osas.git
}

#changePasswordContentBody input {
	font-size: 16px;
}

#changePasswordContentBody #contentBodyLeftPane, #changePasswordContentBody #contentBodyRightPane {
	float: left;
}

#changePasswordContentBody #contentBodyLeftPane {
	width: 300px;

	border-right: 3px solid #420001;
	min-height: 600px;
}

#changePasswordContentBody #contentBodyLeftPane #icon {
	width: 150px; 
	margin: 50px auto 0px auto;
}

#changePasswordContentBody #contentBodyLeftPane #icon img {
	height: 150px;
}

#changePasswordContentBody #contentBodyLeftPane #title {
	margin: 25px auto 0px auto;
	width: 262px;
	font-weight: bold;
	font-size: 30px;
	color: #444444;
}

#changePasswordContentBody #contentBodyRightPane {
	width: inherit;
}

#changePasswordFormHolder {
	 margin: 100px 450px;
}

#changePasswordFormHolder input {
	border: 1px solid #420001;
    width: 400px;
    padding-left: 10px;
    height: 50px;
}
#passwordButtonDiv {
    width: 300px;
    margin: 50px auto 0px auto;
}

#changePasswordFormHolder .passwordElement {
	margin-top: 30px;
}

/**Add User **/
#addUserContentBody {
	margin-top: 50px;
}

#addUserContentBody #contentBodyLeftPane, #addUserContentBody #contentBodyRightPane {
	float: left;
}

#addUserContentBody #contentBodyLeftPane {
	width: 300px;

	border-right: 3px solid #420001;
	min-height: 600px;
}

#addUserContentBody #contentBodyLeftPane #icon {
	width: 150px; 
	margin: 50px auto 0px auto;
}

#addUserContentBody #contentBodyLeftPane #icon img {
	height: 150px;
}

#addUserContentBody #contentBodyLeftPane #title {
	margin: 25px auto 0px auto;
	width: 134px;
	font-weight: bold;
	font-size: 30px;
	color: #444444;
}

#addUserContentBody #contentBodyRightPane {
	width: inherit;
}

#addUserDiv {
	margin: 0px 0px 0px 380px;
	width: 583px;
    height: 707px;
}

#addUserElement {
	font-size: 17px;
	font-weight: bold;
	box-sizing: none;
	border-radius: none;
}

#addUserElement span {
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-left: 30px;
	box-sizing: none;
}

#addUserElement input {
	width: 500px;
	height: 40px;
    font-weight: normal;
	margin: 10px 0px 10px 20px;
	box-sizing: none;
	border-radius: none;
}

#roleElement {
	float: left;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-left: 30px;
	box-sizing: none;
	width: 570px;
	margin-bottom: 30px;
}

#addUserElement #month {
    width: 192px;
}

#addUserElement #date {
    width: 120px;
}

#addUserElement #year {
    width: 140px;
}

#roleElement input {
	height: 30px;
	width: 30px
}

#roleSpan {
	margin: 0px 0px 20px 0px;
}

#roleDiv span {
	margin: 0px 25px 20px 25px;
}

#roleButton {
	width: 700px;
}

#roleButton #addUserCancelButton {
	background-color: #420001;
    height: 40px;
    width: 160px;
    margin: 0px 178px 50px 90px;
    float: left;
    margin-left: 23px;
    font-size: 20px;
}


#roleButton #addUserSaveButton {
	background-color: #420001;
    height: 40px;
    width: 160px;
    margin: 0px 0px 50px 0px;
    float: left;
    font-size: 20px;
}
