@charset "ISO-8859-1";
#memberListContentBody #contentBodyRightPane {
	width: inherit;
}
#memberListContentBody #searchMemberButton {
		float: left;
}
#memberListContentBody #addMemberButton {
		float: right;
}
#memberListContentBody #addMemberExcelFileButton {
		float: right;
		margin-left: 5px;
}

#memberListContentBody #excelImage {
		height: 20px;
}

#memberListContentBody #searchMember {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#memberListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#memberListContentBody #searchMemberButton {
	float: left;
}

#memberListContentBody #contentBodyRightPane #tableHolder {
	padding-bottom: 150px;
}


@media only screen and (max-width: 1550px) {
  	#memberListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#memberListContentBody #contentBodyRightPane {
		font-size: 13px;
	}
	#memberListContentBody #searchMember, #memberListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 920px;
	}

	#memberListContentBody #searchMember img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#memberListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#memberListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#memberListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#memberListContentBody #searchMember, #memberListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 690px;
	}
	
	#memberListContentBody #searchMember img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#memberListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#memberListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#memberListContentBody #contentBodyRightPane {
		font-size: 11px;
	}
	#memberListContentBody #searchMember, #memberListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 670px;
	}
	#memberListContentBody #searchMember img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#memberListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}