@charset "ISO-8859-1";
#organizationListContentBody #contentBodyRightPane {
	width: inherit;
}
#organizationListContentBody #searchOrganizationButton {
		float: left;
}

#organizationListContentBody #addOrganizationButton {
		float: right;
		margin-left: 40px;
}
#organizationListContentBody #searchOrganization {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#organizationListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}
#organizationListContentBody #searchOrganizationButton {
	float: left;
}

@media only screen and (max-width: 1550px) {
  	#organizationListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#organizationListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#organizationListContentBody #searchOrganization, #organizationListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 920px;
	}
	#organizationListContentBody #searchOrganization img {
		height: 32px;
		float: left;
		margin-left: 0px;
   		width: 32px;
	}
	#organizationListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#organizationListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#organizationListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#organizationListContentBody #searchOrganization, #organizationListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 690px;
	}
	#organizationListContentBody #searchOrganization img {
		height: 32px;
		float: left;
		margin-left: 0px;
	    width: 32px;
	}
	#organizationListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#organizationListContentBody #contentBodyLeftPane	{
		width: 184px;
	}
	#organizationListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#organizationListContentBody #searchOrganization, #organizationListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 670px;
	}
	#organizationListContentBody #searchOrganization img {
		height: 32px;
		float: left;
	}
	#organizationListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
	#organizationListContentBody #searchOrganization img {
		height: 32px;
		float: left;
		margin-left: 0px;
		width: 32px;
	}
	#organizationListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}

}