@charset "ISO-8859-1";
#organizationRequirementListContentBody #contentBodyRightPane {
	width: inherit;
}
#organizationRequirementListContentBody #searchOrganizationRequirementButton {
		float: left;
}
#organizationRequirementListContentBody #addOrganizationRequirementButton {
		float: right;
}

#organizationRequirementListContentBody #searchOrganizationRequirement {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#organizationRequirementListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#organizationRequirementListContentBody #searchOrganizationRequirementButton {
	float: left;
}

#organizationRequirementListContentBody #contentBodyRightPane #tableHolder {
	padding-bottom: 50px;
}


@media only screen and (max-width: 1550px) {
  	#organizationRequirementListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#organizationRequirementListContentBody #contentBodyRightPane {
		font-size: 13px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement, #organizationRequirementListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 920px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
		height: 32px;
		float: left;
	}
	#organizationRequirementListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#organizationRequirementListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#organizationRequirementListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement, #organizationRequirementListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 690px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
		height: 32px;
		float: left;
	}
	#organizationRequirementListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#organizationRequirementListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#organizationRequirementListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement, #organizationRequirementListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	    width: 670px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
		height: 32px;
		float: left;
		width: 650px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
	height: 32px;
	float: left;
	}
	#organizationRequirementListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#organizationRequirementListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#organizationRequirementListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement, #organizationRequirementListContentBody #contentBodyRightPane table {
		margin-left: 40px;
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
		height: 32px;
		float: left;
	}
	#organizationRequirementListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#organizationRequirementListContentBody #contentBodyLeftPane	{
		width: 190px;
	}
	#organizationRequirementListContentBody #contentBodyRightPane {
		font-size: 10px;

	}
	#organizationRequirementListContentBody #searchOrganizationRequirement, #organizationRequirementListContentBody #contentBodyRightPane table {
		margin-left: 120px;
		width: 630px;
		
	}
	#organizationRequirementListContentBody #searchOrganizationRequirement img {
		height: 32px;
		float: left;
		margin-left: 20px;
		width: 32px;
	}
	#organizationRequirementListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}