#passwordResetContentBody #contentBodyLeftPane, #firstTimeLoginContentBody #contentBodyRightPane {
	float: left;
}
#passwordResetFormHolder {
	 margin: 170px 300px;
}

#passwordResetFormHolder input {
	border: 1px solid #420001;
    width: 400px;
    padding: 10px 0px 10px 10px;
}
#passwordResetFormHolder .passwordElement {
	margin-top: 30px;
}
#passwordResetFormHolder .passwordElement .button {
	margin-left: 35px; 
	width: 315px;
}


@media only screen and (max-width: 1550px) {
	#passwordResetContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1110px) {
	#passwordResetContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}
@media only screen and (max-width: 1000px) {
	#passwordResetContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}