#scholarshipReportContentBody #contentBodyRightPane .rightPaneElement.withTitle select {
    margin: 10px 0px;
    width: 510px;
    height: 40px;
}

@charset "ISO-8859-1";
#scholarshipReportContentBody #contentBodyRightPane {
	width: inherit;
}
#scholarshipReportContentBody #searchScholarButton {
		float: left;
}
#scholarshipReportContentBody #addScholarExcelFileButton {
		float: right;
		margin-left: 5px;
}

#scholarshipReportContentBody #excelImage {
		height: 20px;
}


#scholarshipReportContentBody #addScholarButton {
		float: right;
}


#scholarshipReportContentBody #searchScholar {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#scholarshipReportContentBody input {
	border: 1px solid #420001;
	height: 15px;
	width: 300px;
	padding-left: 10px;
	float: left;
	margin-right: 20px;
}

#scholarshipReportContentBody #searchScholarButton {
	float: left;
}

@media only screen and (max-width: 1550px) {
  	#scholarshipReportContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#scholarshipReportContentBody #contentBodyRightPane {
		font-size: 13px;
	}
	#scholarshipReportContentBody #searchScholar {
		margin-left: 50px;
		width: 900px;
	}
	#scholarshipReportContentBody #contentBodyRightPane table {
		margin-left: 40px;
		width: inherit;
		overflow-x: auto;
	}
	#scholarshipReportContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarshipReportContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#scholarshipReportContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#scholarListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#scholarListContentBody #searchScholar {
		margin-left: 40px;
		width: 800px;
	}
	
	#scholarListContentBody #contentBodyRightPane table {
		margin-left: 40px;
		width: inherit;
	}
	
	#scholarListContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#scholarListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#scholarListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#scholarListContentBody #searchScholar {
		margin-left: 120px;
		 width: 800px;
	}
	#scholarListContentBody #contentBodyRightPane table {
			margin-left: 120px;
			width: inherit;
	}
	#scholarListContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}