#scholarListContentBody #contentBodyRightPane .rightPaneElement.withTitle span {
   float: left;
   margin-left: 10px;
}

#scholarListContentBody #contentBodyRightPane .rightPaneElement.withTitle select {
    width: 100px;
    height: 20px;
    border: 1px solid #420001;
    margin-top: -5px;
    margin-left: 5px;
}

#scholarListContentBody #searchScholar, #scholarListContentBody #contentBodyRightPane #tableHolder {
    padding-bottom: 50px;
    margin-top: -50px;
}

#scholarListContentBody #contentBodyRightPane #tableHolder {
	padding-bottom: 50px;
}

@charset "ISO-8859-1";
#scholarListContentBody #contentBodyRightPane {
	width: inherit;
}
#scholarListContentBody #searchScholarButton {
		float: left;
}
#scholarListContentBody #addScholarExcelFileButton {
		float: right;
		margin-left: 5px;
}

#scholarListContentBody #excelImage {
		height: 20px;
}


#scholarListContentBody #addScholarButton {
		float: right;
}


#scholarListContentBody #searchScholar {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#scholarListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#scholarListContentBody #searchScholarButton {
	float: left;
}

@media only screen and (max-width: 1550px) {
  	#scholarListContentBody #contentBodyLeftPane	{
		width: 190px;
	}
	#scholarListContentBody #contentBodyRightPane {
		font-size: 13px;
	}
	#scholarListContentBody #searchScholar, #scholarListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 920px;
	}
	#scholarListContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
	
	.tdStudentNumber {
		width: 103px;
	}
}

@media only screen and (max-width: 1100px) {
  	#scholarListContentBody #contentBodyLeftPane	{
		width: 190px;
	}
	#scholarListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	
	#scholarListContentBody #searchScholar, #scholarListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 800px;
	}
	
	#scholarListContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#scholarListContentBody #contentBodyLeftPane	{
		width: 150px;
	}
	#scholarListContentBody #contentBodyRightPane {
		font-size: 9px;
	}
	#scholarListContentBody #searchScholar, #scholarListContentBody #contentBodyRightPane table  {
		margin-left: 50px;
	    width: 670px;
	}
	#scholarListContentBody #searchScholar img {
		height: 32px;
		float: left;
		margin-left: 0px;
	}
	#scholarListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}