@charset "ISO-8859-1";
#scholarshipTermListContentBody #contentBodyRightPane {
	width: inherit;
}
#scholarshipTermListContentBody #searchScholarshipTermButton {
		float: left;
}
#scholarshipTermListContentBody #addScholarshipTermButton {
		float: right;
}

#scholarshipTermListContentBody #searchScholarshipTerm {
	margin-left: 100px;
	margin-bottom: 35px;
	margin-top: 50px;
}
#scholarshipTermListContentBody input {
	border: 1px solid #420001;
	border-radius: 20px;
	width: 300px;
	padding-left: 10px;
	float: left;
	height: 32px;
	margin-right: 20px;
}

#scholarshipTermListContentBody #searchScholarshipTermButton {
	float: left;
}

@media only screen and (max-width: 1550px) {
  	#scholarshipTermListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#scholarshipTermListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#scholarshipTermListContentBody #searchScholarshipTerm, #scholarshipTermListContentBody #contentBodyRightPane table {
		margin-left: 50px;
		width: 730px;
	}
	#scholarshipTermListContentBody #searchScholarshipTerm img {
		height: 32px;
		float: left;
	}
	#scholarshipTermListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#scholarshipTermListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#scholarshipTermListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#scholarshipTermListContentBody #searchScholarshipTerm, #scholarshipTermListContentBody #contentBodyRightPane table {
		margin-left: 40px;
	}
	#scholarshipTermListContentBody #searchScholarshipTerm img {
		height: 32px;
		float: left;
	}
	#scholarshipTermListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1000px) {
  	#scholarshipTermListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#scholarshipTermListContentBody #contentBodyRightPane {
		font-size: 14px;
	}
	#scholarshipTermListContentBody #searchScholarshipTerm, #scholarshipTermListContentBody #contentBodyRightPane table {
		margin-left: 120px;
		
	}
	#scholarshipTermListContentBody #searchScholarshipTerm img {
		height: 32px;
		float: left;
	}
	#scholarshipTermListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}