@charset "ISO-8859-1";

#userListContentBody #contentBodyRightPane {
		width: inherit;
}
#userListContentBody #searchUserButton {
		float: left;
}
#userListContentBody #addUserButton {
		float: right;
}

@media only screen and (max-width: 1550px) {
  	#userListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#userListContentBody #contentBodyRightPane {
		font-size: 13px;
	}
	#userListContentBody #searchUser, #userListContentBody #contentBodyRightPane table {
		margin-left: 50px;
	}
	#userListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 25px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
}

@media only screen and (max-width: 1100px) {
  	#userListContentBody #contentBodyLeftPane	{
		width: 200px;
	}
	#userListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#userListContentBody #searchUser, #userListContentBody #contentBodyRightPane table {
		margin-left: 40px;
	}
	#userListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center;
	}
	#userListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}

@media only screen and (max-width: 1000px) {
  	#userListContentBody #contentBodyLeftPane	{
		width: 160px;
	}
	#userListContentBody #contentBodyRightPane {
		font-size: 10px;
	}
	#userListContentBody #searchUser, #userListContentBody #contentBodyRightPane table {
		margin-left: 120px;
	}
	#userListContentBody #contentBodyLeftPane #title {
		margin: 25px auto 0px auto;
		font-weight: bold;
		font-size: 22px;
		color: #4d4d4d;
		TEXT-ALIGN: center
	}
}